################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/HtmlAnalyzer/bin/Debug/RunAllFiles.cmd
/src/HtmlAnalyzer/packages/HtmlAgilityPack.1.8.5
*.user
/src/HtmlAnalyzer/.vs/HtmlAnalyzer
